/* .credential-and-highlights {
    margin-bottom: 20px;
} */
.credential-and-highlights h4{
    font-size: 15px;
    font-weight: 500;
    display: inline;
}

.credential-and-highlights .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credential-and-highlights .ant-divider{
    margin: 12px 0;
}

.credential-and-highlights .ant-modal-body {
    padding: 0px;
}

.add-a-credential div{
    border: 1px solid #e3e3e3;
    padding: 10px 15px;
    cursor: pointer;
}
.add-a-credential div:hover {
    background: #f1f1f1;
}
.credential-modal .ant-modal-body {
    padding: 0px;
}
.credential-modal .ant-list-item {
    padding:15px 20px;   
    border-bottom: 1px solid #e3e3e3;
}

.credential-modal .ant-list-item:hover {
   background: #f1f1f1;
}

.credential-modal .list-item-title span{
    visibility: hidden;

}
.credential-modal .list-item-title:hover span {
    visibility: visible;
    text-decoration: underline;
    cursor: pointer;
}
.credential-modal .ant-btn-primary {
    border: none;
    box-shadow: none;
}
.credential-popover .ant-popover-inner-content{
    padding: 0;
}
.credential-modal .ant-btn-primary:hover, .credential-modal .ant-btn-primary:focus {
    background: #f1f1f1;
    border: none;
    box-shadow: none;
}

