.credential {
    margin-bottom: 10px;
}

.credential .ant-typography-secondary{
    cursor: pointer;
}
.credential .edit {
    visibility: hidden;
}

.credential h4 {
    font-weight: 300;
    font-size: 18px;
    display: inline;
    margin-right: 5px;
    word-wrap: break-word;
}
.credential:hover .edit{

    visibility: visible;
}

.credential .ant-typography-secondary:hover { 
    text-decoration: underline;
}

.edit-credentials-title {
    margin-bottom: 0 !important;
}

.credential .title {
    color: #1890ff;
    display: flex;
    align-items: center;
    justify-content: start
}
.credential .title span:hover {
    text-decoration: underline;
    text-decoration-color: 1890ff;
    cursor: pointer;
}

.credential i {
    margin-right: 5px;
}

